/*JO page code here*/
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.white-text 
{
    color: white;
    font-style: normal; 
}

/* Other styles */
.Jo-intro p 
{
    color: rgb(255, 250, 250);
}

/* Main content styles */
.Jo 
{
    text-align: center;
    padding: 1rem;
}

.Jo-img 
{
    width: 50%;
    float: right;
    overflow: hidden; /* Fix overflow issue */
    margin-left: 5%; /* Use margin instead of left and top for spacing */
    margin-top: 15%;
}

.Jo-intro 
{
    background-color: rgba(39, 36, 36, 0.6);
    padding: 2rem;
    border-radius: 8px;
}

.center-content 
{
    text-align: center;
    margin-top: 2rem;
}

/* Back to top button styles */
.back-to-top 
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Jo-socials 
{
    padding: 4px; /* Adjust the padding as needed */
    background-color: #fff0f0; /* Example background color */
}

.social-links 
{
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.social-links a 
{
    display: inline-flex; /* Display as inline-flex for proper alignment */
    align-items: center;
    text-decoration: none;
    margin: 0 4px;
    color: #000;
}

p .quote 
{
    font-size: 1.2rem;
}

.creator-title 
{
    width: 20%;
    flex-grow: 2;
    font-family: "Plus Jakarta Sans";
    font-size: 2.3rem;
    color: var(--cerise);
}
