/* Apply general styling to the body */
body {
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* Style the header navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  color: white;
}

.nav-branding a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.nav-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.hamburger {
  display: none; /* Hide initially on larger screens */
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: white;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 1.2rem;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  list-style: none;
  margin-top: 5px;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

/* Style the main content */
.Jo-img {
  text-align: center;
  margin-top: 2rem;
  background-image: url(icon2.jpg);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  color: #f7f7f7;
}

.Jo-intro {
  line-height: 1.5;
  margin-bottom: 2rem;
}

/* ... other styles ... */

.Jo-img img {
  max-width: 15%;
}

.back-to-top {
  background-color: #333;
  color: rgb(112, 110, 110);
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}

/* Style the main content section */
.Jo-intro {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.white-text {
  color: white;
}

/* Style the socials section */
.Jo-socials {
  background-color: #333;
  padding: 2rem 0;
  color: white;
}

.Jo-socials a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5rem;
}

/* Style the main content section */
.Jo-main {
  background-image: url('icon2.jpg');
  background-size: cover;
  background-position: center;
  padding: 2rem;
  color: white;
  margin-top: 2rem;
  z-index: -1;
}

.Jo-intro-container {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 2rem; 
  max-width: 400px; 
  margin: 0 auto; /* Center the container horizontally */
}

.Jo-intro {
  line-height: 1.5;
  margin: 0; /* Reset margins for the intro content */
}
