/* ROOT Pseudo-element */
:root {
    --primary: palevioletred;
    --secondary: #786452;
    --tertiary: #D4DCCD;
}

body {
    background-color: #f0f0f0;
    text-align: justify !important;
  }
  
  #draggableImage {
    cursor: grab;
    overflow: hidden;
  }

  .first-character {
    font-weight:400;
    float: left;
    font-size: 5rem;
    line-height: 4rem;
    padding-top: 4px;
    padding-right:8px;
    padding-left: 3px;
}

.line-break {
    border-bottom:1px solid black; 
    width: 150px; 
    margin: 10px auto;}

.title {
    font-family: 'Neonderthaw', cursive;
}

.logo {
    width: 100%;
    color: white;
    text-shadow:
                0 0 10px pink,
                0 0 20px palevioletred;
    font-size: 9rem !important;
}

.text-highlight {
    border-radius: 1em 0 1em 0;
    text-shadow: 1px 1px 1px #fff;
    background-image: 
      linear-gradient(-100deg, 
        rgba(255,250,150,0.15),
        rgba(249, 245, 170, 0.8) 100%, 
        rgba(255,250,150,0.25)
      );
  }
  

nav {
    display: flex;
    justify-content: center;
}

nav ul, li {
    display: flex;
    list-style-type: none;
    padding: 1rem 2rem 0 2rem;
}

nav a:link, a:active, a:visited {
    text-decoration: none;
    color: var(--primary);
}

.dropdown {
    position: relative;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    top: 75%;
    left: 20%;
    background-color: white;
}
  
.dropdown:hover .dropdown-menu {
    border: 1px dashed var(--primary);
    box-shadow: 3px 5px var(--tertiary);
    display: block;
}
  
.dropdown-menu li {
    padding: 8px;
}
  
.dropdown-menu li:hover {
    background-color: rgb(246, 219, 224);
}

.dropdown-toggle {
    display: inline;
    position: relative;
  }
  
  .dropdown-toggle:after {
    content: " ▼"; /* Add the arrow icon */
    margin-left: 5px;
    color: var(--primary)
  }
  

.active {
    display: inline-flex;
    position: relative;
    color: rgb(116, 138, 127) !important;
    font-family: "Borel" !important;
    font-size: 1.8rem;
    /* top: -10px; */
}

main {
    width: 80%;
    height: auto;
    margin: 1rem auto;
    padding: 2rem;
}

.content-creator {
    background-color: rgb(255, 240, 240);
    height: 100%;
    padding: 5rem 0 5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}    

.quote {
    width: 300px;
    flex-grow: .5;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
    font-family: "Borel";
    color: var(--primary);
    text-shadow: 1px 3px rgb(237, 208, 212);
}

.creator-title {
    width: 50px;
    flex-grow: 3;
    font-family: "Plus Jakarta Sans";
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    content: "";
    display: flex;
    justify-content: flex-end;
}


.creator-page {
    background-color: transparent;
}

.creator-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.creator-img img {
    display: inline-flex;
    width: 225px;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    background-color: #fee7d3; 
    padding: 10px;
    margin: 3rem;
}


figcaption {
    display: flex;
    justify-content: center;
    font: 1.2rem "Borel";
    margin: 1rem auto;
    color: var(--secondary);
}

.content-pages {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 10rem;
}

.page-img {
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}


.footer-content {
    height: 100%;
    width: 100%;
    background-color: var(--tertiary);
    padding: 2.5rem;
    font-size: 0.9rem;
    text-align: justify;
}

.ftr-header {
    font-family: "Borel";
    color: #5f634f;
    margin: 2rem;
}

.ftr-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 0.8rem "Space Mono";
    padding: 2rem 0 0;
}







