/* ROOT Pseudo-element */
:root {
    --primary: palevioletred;
    --secondary: #786452;
    
}

body {
    font-family: "Space Mono" !important;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul, li {
    display: flex;
    list-style-type: none;
    padding: 1rem;
}

nav a:link, a:active, a:visited {
    text-decoration: none;
    color: var(--primary);
}

.active {
    display: inline-flex;
    color: rgb(116, 138, 127) !important;
    font-family: "Borel";
    font-size: 1.8rem;
}

main {
    width: 80%;
    height: auto;
    margin: 1rem auto;
    padding: 2rem;
}

.content-creator {
    background-color: rgb(255, 240, 240);
    height: 100%;
    padding: 5rem 0 5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}    

.quote {
    width: 300px;
    flex-grow: .5;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
    font-family: "Borel";
    color: var(--primary);
    text-shadow: 1px 3px rgb(237, 208, 212);
}

.creator-title {
    width: 50px;
    flex-grow: 3;
    font-family: "Plus Jakarta Sans";
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    content: "";
    display: flex;
    justify-content: flex-end;
}


.creator-page {
    background-color: transparent;
}

.creator-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.creator-img img {
    display: inline-flex;
    width: 200px;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    border: 1px dashed rgb(119, 73, 73);
    background-color: rgb(231, 209, 219);
    padding: 5px;
    margin: 3rem;
}

figcaption {
    display: flex;
    justify-content: center;
    font: 1.2rem "Borel";
    margin: 1rem auto;
    color: var(--secondary);
}

.content-pages {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 10rem;
}

.page-img {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}


.footer-content {
    height: 100%;
    width: 100%;
    background-color: #D4DCCD;
    padding: 2.5rem;
    font-size: 0.9rem;
}

.ftr-header {
    font-family: "Borel";
    color: #5f634f;
    margin: 2rem;
}

.ftr-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 0.8rem "Space Mono";
    padding: 2rem 0 0;
}






