<footer>
    <div class="footer-content">
        <h1 class="ftr-header display-5">Subscribe to us!</h1>

        <div class="container">
            <div class="container flex-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque est dolores tenetur ad incidunt deserunt libero officia adipisci, repellendus sapiente eius. Tenetur maxime reprehenderit temporibus quod quis ut, corporis illum repellat, voluptatum at porro veritatis? Eos, nesciunt laboriosam. Debitis nesciunt hic laudantium enim qui laboriosam earum, esse corrupti eum? In!</div>

            <div class="container flex-end">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, natus.
            </div>
            
        </div>

        <div class="ftr-copyright">
            <p>Website designed & developed by © Group 12</div>
    </div>    
</footer>
