<footer>

    <div class="footer-content">
        <div class="row justify-content-between">

            <div class="col-md-4 col-12">
                <div class="ftr-header">Socials:</div>
                <div class="socials">
                    <a href="instagram.com"><i class="bi bi-instagram"></i></a>
                    <a href="github.com"><i class="bi bi-github"></i></a>
                    <a href="linkedin.com"><i class="bi bi-linkedin"></i></a>
                    <a href="slack.com"><i class="bi bi-slack"></i></a>
                    <a href="facebook.com"><i class="bi bi-facebook"></i></a>
                    <a href="dribbble.com"><i class="bi bi-dribbble"></i></a>
                </div>
            </div>

            <div class="col-md-4 col-12">
                <h1 class="ftr-header">Subscribe to us!</h1>
                <form>
                    <div class="mb-3">
                      <label for="first-name" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="first-name">
                    </div>

                    <div class="mb-3">
                        <label for="last-name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="last-name">
                    </div>
                    
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <button type="submit" class="submit-btn">Submit</button>
                  </form>

                  <div id="thank-you-message"></div>     
            </div>

        </div>   
    </div>

    <div class="ftr-copyright">
        <p>Website designed & developed by © Group 12</div>
</footer>


