  <!-- This is for the navigation bar -->
  <header>
    <nav class="navbar">
        <div class="nav-branding"><a href="index.html">Linked</a><img src="Imgs/monstera.png" class="nav-logo"></div>
        
        <!-- Hamburger Menu: Navigation changes on small screens -->
        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
       </div>

        <ul class="nav-menu">
            <li class="nav-item dropdown dropdown-toggle">
                <a href="#">About</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Our Story</a>
                        </li>
                        <li>
                            <a href="#">Vision</a>
                        </li>
                        <li>
                            <a href="#">Who are we?</a>
                        </li>
                    </ul>
            </li>
            <li class="nav-item">
                <a href="index.html#anchor-creator">Our Creators</a>
            </li>
            <li class="nav-item">
                <a href="#footer">Contact</a>
            </li>
        </ul>

    </nav>
  </header>
