  <!-- This is for the navigation bar -->
<header>
    <nav class="navbar">
        <div class="nav-branding"><a href="index.html">Linked</a><img src="Imgs/coffee.png" class="nav-logo" alt="coffee logo"></div>
        
        <!-- Hamburger Menu: Navigation changes on small screens -->
        <div id="hamburger" class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
       </div>

        <ul class="nav-menu">
            <li class="nav-item dropdown dropdown-toggle">
                <a href="#" aria-label="Read more about us">About</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Our Story</a>
                        </li>
                        <li>
                            <a href="#">Vision</a>
                        </li>
                        <li>
                            <a href="#">Who are we?</a>
                        </li>
                    </ul>
            </li>
            <li class="nav-item">
                <a href="index.html#anchor-creator" aria-label="Website's authors">Our Creators</a>
            </li>
            <li class="nav-item">
                <a href="#footer" aria-label="scroll to footer">Contact</a>
            </li>
        </ul>            
    </nav>
</header>
  