  <!-- This is for the navigation bar -->
  <nav>
    <ul>
        <!-- <img class="animated-logo" src="https://cdn.dribbble.com/users/421656/screenshots/10678864/media/83eef5e56970b9080b29fabab7c370ae.gif"> -->
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="index.html#anchor-creator">Our Creators</a></li>
        <li><a href="#footer">Contact</a></li>
        <li class="dropdown dropdown-toggle"><a href="#">About</a>
            <ul class="dropdown-menu">
                <li><a href="#">Vision</a></li>
            </ul>
        </li>
    </ul>
   </nav>