  <!-- This is for the navigation bar -->
  <nav>
    <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#anchor-creator">Our Creators</a></li>
        <li><a href="#">Contact</a></li>
        <li class="dropdown dropdown-toggle"><a href="#">About</a>
            <ul class="dropdown-menu">
                <li><a href="#">Who are we?</a></li>
                <li><a href="#">Who are we?</a></li>
                <li><a href="#">Who are we?</a></li>
            </ul>
        </li>
    </ul>
   </nav>